@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Họ và tên: Vũ Văn Tuấn</p>
<p>Mã sinh viên: 2210900132</p>
<p>Lớp: K22CNT3</p>
<p>Email: vuvantuan394@gmail.com</p>
<p>Điện thoại: 0983401587</p>